body {
  background-attachment: fixed;
  background-image: url(./img/scott-goodwill-y8Ngwq34_Ak-unsplash.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

body::before {
  background: inherit;
  content: '';
  filter:
    blur(2px)
    brightness(80%);
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.camp-cover {
  background-image: url(./img/jatin-jangid-1f0DB1u7p8Q-unsplash.jpg);
  background-position: center;
  background-size: cover;
}